ul{
    list-style-type: none;
    padding: 0;
}

.dropdown__container{
    display: flex;
    justify-content: space-evenly;
}

.dropdown{
    margin: 2rem;
    margin-bottom: -4rem;
}

.dropdown .dropdown__btn{
    width: fit-content;
    margin: auto;
    padding: 15px 20px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.4);
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    cursor: pointer;
}

.dropdown .dropdown__content{
    /* position: absolute; */
    width: fit-content;
    margin: auto;
    left: 0;
    right: 0;
    background: #fefefe;
    box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.4);
    font-weight: 500px;
    color: #333;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    transform: scaleY(0);
    visibility: hidden;
}

.dropdown .dropdown__content .dropdown__item{
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
    left: 0;
    right: 0;
    transition: .2s all ease-in-out;
    border: 1px solid #000;
}

.dropdown__content .fadein{
    animation: fadeIn 0.9s 1;
    animation-fill-mode: forwards;
}

.dropdown .dropdown__content .dropdown__item:hover{
    background: #4e4a4a;
    color: #fff;
    transform: translateX(5px);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
